*{
    padding: 0;
    margin: 0;
}

.bg-color{
    background-color: #cce4fc;
}
thead > tr:first-child > th {
    background-color: #4C91DC !important;
}
td:first-child {
    background-color: #4C91DC !important;
}
.contenedor_imagenes{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
